
    #white{
        color: white;
    }

    .fa-bars {
  color: white;
    }

    .btn:focus {
  outline: none;
  box-shadow: none;
    }
    .accordion-button:focus
    {
        box-shadow: none;
    }
    
.accordion-button:not(.collapsed){
         color: #000;
         background-color: white;
    }
    .accordion-button:not(.collapsed)::after{
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        border-bottom: none;
        outline: #000;
   }
    
    .img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
} 
.org {
    border-color: #E76F51;
    color:  #E76F51;
}
.org:hover{
    background-color: #E76F51;
    color: whitesmoke;
}
.txt-orange {
    color: #E76F51;
}
 #width{
    width: 26rem;
   
 }
 #width2{
    width: 24rem;
    
 }

 

